.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1400px;
    height: 600px;
    margin: 0 auto;
    background: url(../../images/cacl.jpg) no-repeat;
    background-position: center;
}

.contant{
    
    margin-top: 100px;
    height: 300px;
    justify-content: center;
}


h1{
    text-align: center;
}